@import url('/static/style.css');

body {
	height: 100vh;
	background: linear-gradient(45deg, dodgerblue, lightseagreen);
}

#board {
	height: 350px;
	width: 350px;
	display: grid;
	grid-template-columns: repeat(3, auto);
/* 	border: 2px solid #181818d0; */
	margin: auto;
	/* background-color: transparent; */
	position: absolute;
	top: 47%;/*50 5*/ /*52%*/
	left: 50%;
	transform: translate(-50%, -50%);
}

/* #board[disabled] {
	pointer-events: none;
	cursor: not-allowed;
} */

.game-cell {
/* 	border: 2px solid #373737a8; */
	cursor: pointer;
	outline: none;
	background-color: transparent;
	border-radius: 9px;
}

.game-cell:hover {
	background-color: rgba(211, 211, 211, 0.5);
}

.taken {
	background-color: grey;
}

.taken:hover {
	background-color: grey;
	cursor: not-allowed;
}

.cross {
	cursor: not-allowed;
	background: url(/static/cross.png) no-repeat center;
	background-size: 75%;
	/* backdrop-filter: blur(4px); */
}

.circle {
	cursor: not-allowed;
	background: url(/static/circle.png) no-repeat center;
	background-size: 75%;
	/* backdrop-filter: blur(4px); */
}

#vert-grid-separators {
	height: 350px;
	width: 350px;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
/* 	outline: 2px dashed orangered; */
	display: flex;
	pointer-events: none;
}

.vert-sect {
	flex: 1;
	height: 100%;
/* 	border-radius: 10px; */
	background-color: transparent;
}

#vert-center {
	border-left: 15px solid rgb(207, 228, 240);
	border-right: 15px solid rgb(207, 230, 240);
	border-radius: 9px;
}

#horiz-grid-separators {
	height: 350px;
	width: 350px;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
/* 	outline: 2px dashed orangered; */
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.horiz-sect {
	flex: 1;
	height: 100%;
/* 	border-radius: 10px; */
	background-color: transparent;
}

#horiz-center {
	border-top: 15px solid rgb(207, 230, 240);
	border-bottom: 15px solid rgb(207, 230, 240);
	border-radius: 9px;
}

/* Bold display code */
#code {
	color: #373737;
	font-weight: bold;
}

#join-code {
	/* position: absolute;
	top: 85%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
	position: absolute;
}

#code-container {
	/* height: 70px; */
	position: absolute;
	top: 80%;
}

#code-shard {
	width: 190px; /*.130.>*/ /*150*/
	border-top: 65px solid #373737;/*65*/
  border-right: 50px solid transparent;

	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#code-heading {
	color: lightgrey;
	position: absolute;
	top: 7px;
	left: 5px;
}

#code {
	color: white;
	position: absolute;
	top: 30px;
	left: 7px;
	/* d */
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: 500;
}

#turn-container {
	position: absolute;
	top: 80%;
	right: 0px;
}

#turn-shard {
	width: 190px;/*160*/
	border-bottom: 65px solid #373737;
  border-left: 50px solid transparent;
	float: right;
}

#turn-heading {
	color: lightgrey;
	position: absolute;
	top: 7px;
	right: 5px;
	text-align: right;
}

#turn {
	color: white;
	position: absolute;
	top: 30px;
	right: 7px;
	/* d */
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: 500;
}

#rematch-btn {
	height: 35px;
	width: 190px;
	border: none;
	background-color: rgba(220, 20, 60, 0.842);
	color: white;
	font-size: 17px;
	border-radius: 15px;
	cursor: pointer;
	position: absolute;
	top: 85vh;
	transform: translate(-50%, -50%);

	display: none;
}

#rematch-btn:hover {
	background-color: crimson;
}

#version {
	/* font-weight: bold; */
	font-weight: normal;
	font-family: 'Lexend', sans-serif;
	position: fixed;
	top: 0;
	right: 0;
	color: #646464;
	margin: 10px;
	cursor: pointer;
}

#game-ad-left {
	/* font-weight: bold; */
	font-weight: normal;
	font-family: 'Lexend', sans-serif;
	position: absolute;
	top: 42%;
	left: 25px;
        transform: translateY(-50%);
        height: 65%;
        width: 25%;
	color: #646464;
	margin: 10px;
	cursor: pointer;
	border: none;
        border-radius: 15px;
	background: transparent;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#game-ad-right {
    /* font-weight: bold; */
    font-weight: normal;
    font-family: 'Lexend', sans-serif;
    position: absolute;
    top: 42%;
    right: calc(25px);
    transform: translateY(-50%);
    height: 65%;
    width: 25%;
    color: #646464;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#game-ad-left *, #game-ad-right * {
    border-radius: 15px;
    border: none;
}


@media only screen and (max-width: 768px) {
  h1 {
    display: none;
  }

	#code-container {
		top: 85%;
	}

	#turn-container {
		top: 85%;
	}
}

@media only screen and (max-height: 632px) {
	h1 {
    display: none;
  }
}

@media only screen and (max-width: 878px) {
    #game-ad-left, #game-ad-right, #game-ad-left *, #game-ad-right * {
        display: none;
    }
}
