@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('/static/nav.css');

* {
	font-family: 'Lexend', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}

body {
/* 	height: auto; */
	margin: 0;
	padding: 0;
	background: linear-gradient(45deg, salmon, cornflowerblue) no-repeat;
}

a {
	color: inherit;
}

.privacy-policy {
	margin: 150px 100px;
}

.privacy-policy * {
	text-align: left !important;
}