{% extends 'base.html' %}

{% block styles %}
	<link rel="stylesheet" href="/static/game.css">
{% endblock %}

{% block content %}
	<script>
		// Vars
		const pwd = "{{ pwd }}";
		const player = "{{ team }}";
		const gameID = "{{ gameID }}";
		const type = "{{ gametype }}";
	</script>

	<h1>Live Game</h1>
	<div id="turn-container">
		<div id="turn-shard"></div>
		<p id="turn-heading">Turn</p>
		<p id="turn">LOADING...</p>
	</div>
	
	<!-- {{ current_turn }}'s Turn -->
	<!-- <br>
	<br>
	<br> -->
	<div id="code-container">
		<div id="code-shard"></div>
		<p id="code-heading">Join Code</p>
		<p id="code"></p>
	</div>


	<!-- <br> -->

	<div id="board">
		<div class="game-cell" id="1"></div>
		<div class="game-cell" id="2"></div>
		<div class="game-cell" id="3"></div>
		<div class="game-cell" id="4"></div>
		<div class="game-cell" id="5"></div>
		<div class="game-cell" id="6"></div>
		<div class="game-cell" id="7"></div>
		<div class="game-cell" id="8"></div>
		<div class="game-cell" id="9"></div>
	</div>

	<div id="vert-grid-separators">
		<div class="vert-sect"></div>
		<div class="vert-sect" id="vert-center"></div>
		<div class="vert-sect"></div>
<!-- 		<div class="grid-separator-horiz"></div>
		<div class="grid-separator-horiz"></div> -->
	</div>

	<div id="horiz-grid-separators">
		<div class="horiz-sect"></div>
		<div class="horiz-sect" id="horiz-center"></div>
		<div class="horiz-sect"></div>
<!-- 		<div class="grid-separator-horiz"></div>
		<div class="grid-separator-horiz"></div> -->
	</div>
	

	<div id="winner-declaration">
		<span id="close-winner">[x]</span>
		<div id="header"><h2>Winner!</h2></div>
		<p><b></b> won this round of Tic Tac Toe! You can <a href="/init-game">host a new game</a> or <a href="/join">join another game</a>.</p>
	</div>

<!-- 	<a href="https://github.com/JonathanW2018/Tic-Tac-Pro" id="version" title="Powered By Tic Tac Pro">Loading...</a> -->


	<script src="/static/connection.js"></script>
	<script src="/static/game.js"></script>

{% endblock %}