<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tic Tac Pro</title>
	<link rel="stylesheet" href="/static/style.css">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8188107627844775"
     crossorigin="anonymous"></script>
</head>
<body>

	<div id="center">
		<h2>Tic Tac Pro</h2>

		<br>

	  <div class="game-option" onclick="window.location.href='/init-game'">
      <p class="game-type">Host Game</p>
		  <p class="game-description">Host a Tic Tac Toe game where someone else joins.</p>
	  </div>

		<br>
	
	  <div class="game-option" onclick="window.location.href='/join'">
		  <p class="game-type">Join Game</p>
		  <p class="game-description">Join a game someone else is hosting.</p>
	  </div>
  </div>
</body>
</html>
