{% extends 'base.html' %}

{% block styles %}
	<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block content %}

	<div id="center">
		<h2>Tic Tac Pro</h2>

		<br>

	  <a class="game-option" href="/init-game">
      <p class="game-type">Host Game</p>
		  <p class="game-description">Host a Tic Tac Toe game where someone else joins.</p>
	  </a>

		<br>
	
	  <a class="game-option" href="/join">
		  <p class="game-type">Join Game</p>
		  <p class="game-description">Join a game someone else is hosting.</p>
	  </a>
  </div>

{% endblock %}