{% extends 'base.html' %}

{% block styles %}
	<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block content %}

	<div id="center">
		<h2>Join a Game</h2>

		<br>

		<form action="/game" method="GET">
			<input type="text" name="gameid" placeholder="Join Code" autofocus>
			<br>
			<input type="submit" value="Join Game">
		</form>
		<br>
		<a href="/init-game">Host a Game</a>
	</div>

	<div id="error-footer">
		<p>{{ error }}</p>
	</div>

	<script src="/static/error.js"></script>

{% endblock %}